

<footer>
    <p>&copy; 2025 CreativLink</p>
  </footer>
  
  <!-- added script to footer to share functionality across for artist, curator, and visitor page -->
  <script src="/js/dashboard.js"></script>
  </body>
  </html>