<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CreativLink</title>
    <link rel="stylesheet" href="/css/style.css" />
    
    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/Untitled design (1).png"
    />
   
   <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
      <header>
        <div class="logo-container">
          <a href="/">
            <img src="/imgs/2.png" alt="CreativLink Logo" class="logo" />
          </a>
        </div>
      </header>
 
